/* Reset стилів для початку */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основні стилі для body і заголовків */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347; /* Помаранчевий колір при наведенні */
    border-bottom: 2px solid #ff6347; /* Підкреслення при наведенні */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
